<div class="page-header">
  <h3 class="page-title">Customer</h3>
  <div class="col-md-4 search-field">
    <form class="d-flex align-items-center" action="#">
      <div class="input-group">
        <div class="input-group-prepend border border-warning">
          <i class="input-group-text mdi mdi-magnify"></i>
        </div>
        <input
          type="text"
          style="padding: 20px"
          class="form-control border border-warning"
          placeholder="Search"
        />
      </div>
    </form>
  </div>
  <div>Order by</div>
  <div class="col-sm-2">
    <select class="form-control">
      <option>Gender</option>
      <option>Name</option>
    </select>
  </div>
  <div>Or</div>
  <div class="col-sm-2">
    <select class="form-control">
      <option>Acs</option>
      <option>Des</option>
    </select>
  </div>
  <nav aria-label="breadcrumb">
    <button
      routerLink="../../forms/basic-elements"
      routerLinkActive="active"
      type="button"
      class="btn btn-gradient-primary btn-rounded btn-fw"
    >
      New Customer Info
    </button>
  </nav>
</div>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Infomation</h4>

        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th>User</th>
                <th>First name</th>
                <th>Birth</th>
                <th>Gender</th>
                <th>ID</th>
                <th>Address</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="">
                  <icon class="mdi mdi-delete"></icon>
                </td>
                <td class="py-1">
                  <icon class="mdi mdi-grease-pencil"></icon>
                </td>
                <td class="py-1">
                  <img src="assets/images/faces/face1.jpg" alt="image" />
                </td>
                <td>Tran Thanh Tam</td>
                <td>12/04/1998</td>
                <td>Female</td>
                <td>18722982</td>
                <td>Quang Ngai</td>
              </tr>
              <tr>
                <td class="py-1">
                  <icon class="mdi mdi-delete"></icon>
                </td>
                <td class="py-1">
                  <icon class="mdi mdi-grease-pencil"></icon>
                </td>
                <td class="py-1">
                  <img src="assets/images/faces/face2.jpg" alt="image" />
                </td>
                <td>Trung Ran Can Mo</td>
                <td>11/04/1997</td>
                <td>Male</td>
                <td>18782982</td>
                <td>Quang Nam</td>
              </tr>
              <tr>
                <td class="py-1">
                  <icon class="mdi mdi-delete"></icon>
                </td>
                <td class="py-1">
                  <icon class="mdi mdi-grease-pencil"></icon>
                </td>
                <td class="py-1">
                  <img src="assets/images/faces/face3.jpg" alt="image" />
                </td>
                <td>Nguyen Tuan Huy</td>
                <td>15/06/1999</td>
                <td>Male</td>
                <td>18722982</td>
                <td>Dong Thap</td>
              </tr>
              <tr>
                <td class="py-1">
                  <icon class="mdi mdi-delete"></icon>
                </td>
                <td class="py-1">
                  <icon class="mdi mdi-grease-pencil"></icon>
                </td>
                <td class="py-1">
                  <img src="assets/images/faces/face4.jpg" alt="image" />
                </td>
                <td>Tran Gia Bao</td>
                <td>22/07/1998</td>
                <td>Male</td>
                <td>18722982</td>
                <td>Dong Nai</td>
              </tr>
              <tr>
                <td class="py-1">
                  <icon class="mdi mdi-delete"></icon>
                </td>
                <td class="py-1">
                  <icon class="mdi mdi-grease-pencil"></icon>
                </td>
                <td class="py-1">
                  <img src="assets/images/faces/face5.jpg" alt="image" />
                </td>
                <td>Tran Hoang Kha</td>
                <td>31/03/1995</td>
                <td>Male</td>
                <td>18722982</td>
                <td>An Giang</td>
              </tr>
              <tr>
                <td class="py-1">
                  <icon class="mdi mdi-delete"></icon>
                </td>
                <td class="py-1">
                  <icon class="mdi mdi-grease-pencil"></icon>
                </td>
                <td class="py-1">
                  <img src="assets/images/faces/face6.jpg" alt="image" />
                </td>
                <td>Nguyen Khanh Duy</td>
                <td>10/10/2000</td>
                <td>Male</td>
                <td>18722982</td>
                <td>Dong Nai</td>
              </tr>
              <tr>
                <td class="py-1">
                  <icon class="mdi mdi-delete"></icon>
                </td>
                <td class="py-1">
                  <icon class="mdi mdi-grease-pencil"></icon>
                </td>
                <td class="py-1">
                  <img src="assets/images/faces/face7.jpg" alt="image" />
                </td>
                <td>Tran Thi Dieu Hien</td>
                <td>11/10/1999</td>
                <td>Female</td>
                <td>18722982</td>
                <td>Thu Duc</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
