<div class="page-header">
  <h3 class="page-title">Info by category</h3>
</div>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="d-flex align-items-center w-100">
      <div ngbDropdown>
        <button
          class="btn btn-gradient-primary"
          type="button"
          id="dropdownMenuOutlineButton1"
          ngbDropdownToggle
        >
          Filter
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownMenuOutlineButton1">
          <h6 class="dropdown-header">Settings</h6>
          <a class="dropdown-item">Name</a>
          <a class="dropdown-item">Age</a>
          <a class="dropdown-item">Address</a>
        </div>
      </div>
      <div class="search-field w-100">
        <form class="d-flex align-items-center" action="#">
          <div class="input-group">
            <div class="input-group-prepend border border-warning">
              <i class="input-group-text mdi mdi-magnify"></i>
            </div>
            <input
              type="text"
              style="padding: 20px"
              class="form-control border border-warning"
              placeholder="Search"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row mb-5">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">View all customer by</h4>
        <div class="col-md-12">
          <div class="form-group row">
            <div class="col-sm-4">
              <select class="form-control">
                <option>Name</option>
                <option>Gender</option>
                <option>Address</option>
                <option>Age</option>
              </select>
            </div>
            <div class="col-sm-4">
              <select class="form-control">
                <option>Name</option>
                <option>Gender</option>
                <option>Address</option>
                <option>Age</option>
              </select>
            </div>
            <div class="col-sm-4">
              <select class="form-control">
                <option>Name</option>
                <option>Gender</option>
                <option>Address</option>
                <option>Age</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="d-flex flex-wrap">
      <div class="m-1" style="display: flex">
        <span class="alert alert-warning">cong nghe thong tin</span>
        <span
          class="alert alert-warning"
          style="border-left: none; cursor: pointer"
        >
          <i class="mdi mdi-close mr-0"></i>
        </span>
      </div>
      <div class="m-1" style="display: flex">
        <span class="alert alert-warning">cong nghe </span>
        <span
          class="alert alert-warning"
          style="border-left: none; cursor: pointer"
        >
          <i class="mdi mdi-close mr-0"></i>
        </span>
      </div>
      <div class="m-1" style="display: flex">
        <span class="alert alert-warning">cong tin</span>
        <span
          class="alert alert-warning"
          style="border-left: none; cursor: pointer"
        >
          <i class="mdi mdi-close mr-0"></i>
        </span>
      </div>
      <div class="m-1" style="display: flex">
        <span class="alert alert-warning"> tin</span>
        <span
          class="alert alert-warning"
          style="border-left: none; cursor: pointer"
        >
          <i class="mdi mdi-close mr-0"></i>
        </span>
      </div>
    </div>
    <button style="float: right;"
      routerLink="../../forms/basic-elements"
      routerLinkActive="active"
      type="button"
      class="btn btn-gradient-primary btn-rounded btn-fw"
    >
    Export to Excel
    </button>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Infomation</h4>

        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>User</th>
                <th>First name</th>
                <th>Progress</th>
                <th>Amount</th>
                <th>Deadline</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="py-1">
                  <img src="assets/images/faces/face1.jpg" alt="image" />
                </td>
                <td>Tran Thanh Tam</td>
                <td>
                  <div class="progress">
                    <div
                      class="progress-bar bg-success"
                      role="progressbar"
                      style="width: 25%"
                      aria-valuenow="25"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </td>
                <td>$ 77.99</td>
                <td>May 15, 2015</td>
                <td>
                  <label class="badge badge-warning">In progress</label>
                </td>
              </tr>
              <tr>
                <td class="py-1">
                  <img src="assets/images/faces/face2.jpg" alt="image" />
                </td>
                <td>Trung Ran Can Mo</td>
                <td>
                  <div class="progress">
                    <div
                      class="progress-bar bg-danger"
                      role="progressbar"
                      style="width: 75%"
                      aria-valuenow="75"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </td>
                <td>$245.30</td>
                <td>July 1, 2015</td>
                <td><label class="badge badge-success">Completed</label></td>
              </tr>
              <tr>
                <td class="py-1">
                  <img src="assets/images/faces/face3.jpg" alt="image" />
                </td>
                <td>Nguyen Tuan Huy</td>
                <td>
                  <div class="progress">
                    <div
                      class="progress-bar bg-warning"
                      role="progressbar"
                      style="width: 90%"
                      aria-valuenow="90"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </td>
                <td>$138.00</td>
                <td>Apr 12, 2015</td>
                <td><label class="badge badge-success">Completed</label></td>
              </tr>
              <tr>
                <td class="py-1">
                  <img src="assets/images/faces/face4.jpg" alt="image" />
                </td>
                <td>Tran Gia Bao</td>
                <td>
                  <div class="progress">
                    <div
                      class="progress-bar bg-primary"
                      role="progressbar"
                      style="width: 50%"
                      aria-valuenow="50"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </td>
                <td>$ 77.99</td>
                <td>May 15, 2015</td>
                <td>
                  <label class="badge badge-warning">In progress</label>
                </td>
              </tr>
              <tr>
                <td class="py-1">
                  <img src="assets/images/faces/face5.jpg" alt="image" />
                </td>
                <td>Tran Hoang Kha</td>
                <td>
                  <div class="progress">
                    <div
                      class="progress-bar bg-danger"
                      role="progressbar"
                      style="width: 35%"
                      aria-valuenow="35"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </td>
                <td>$ 160.25</td>
                <td>May 03, 2015</td>
                <td><label class="badge badge-info">Fixed</label></td>
              </tr>
              <tr>
                <td class="py-1">
                  <img src="assets/images/faces/face6.jpg" alt="image" />
                </td>
                <td>Nguyen Khanh Duy</td>
                <td>
                  <div class="progress">
                    <div
                      class="progress-bar bg-info"
                      role="progressbar"
                      style="width: 65%"
                      aria-valuenow="65"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </td>
                <td>$ 123.21</td>
                <td>April 05, 2015</td>
                <td>
                  <label class="badge badge-warning">In progress</label>
                </td>
              </tr>
              <tr>
                <td class="py-1">
                  <img src="assets/images/faces/face7.jpg" alt="image" />
                </td>
                <td>Tran Thi Dieu Hien</td>
                <td>
                  <div class="progress">
                    <div
                      class="progress-bar bg-warning"
                      role="progressbar"
                      style="width: 20%"
                      aria-valuenow="20"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </td>
                <td>$ 150.00</td>
                <td>June 16, 2015</td>
                <td><label class="badge badge-info">Fixed</label></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
